My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JtBh1U3M_KZKnNzLtx5a_AAtog72RbWZ",
          "mode": "list",
          "cachedResultName": "cv",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JtBh1U3M_KZKnNzLtx5a_AAtog72RbWZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f2b02ae1-754b-46a0-994f-e5d003105983",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AlRL680QR0CZIKEG",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1K-XugsbaYSj_XqKt753GPIHueDgQfV_J",
          "mode": "list",
          "cachedResultName": "cv.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1K-XugsbaYSj_XqKt753GPIHueDgQfV_J/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "de50d4c7-ee89-4771-805d-09160ae8da22",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AlRL680QR0CZIKEG",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        160
      ],
      "id": "75839475-a0ae-4061-a0cb-6d99660595cc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        320
      ],
      "id": "5b9f9c6a-7440-44ba-b387-8da102ae6257",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mmmmm",
          "mode": "list",
          "cachedResultName": "mmmmm"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "8cda0d36-11a2-46a0-ac35-6f96161719fc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "BjsNwDLAw7cFDK3h",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        192,
        256
      ],
      "id": "80c21d3f-ca0a-4ecf-8af4-97dfcb11bdc7",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "KVuC8PnnMCTgofiC",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "20f12098-e0e5-436f-a6c3-0f9e4a3f411a",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "u7gEFRpktUbO0NBW",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        []
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "db6fb057-64f9-4aad-b223-d04e60a55db8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14c4cbbf95e94cacd46100d0be32145cc49fe1b3e6bd3b32c46feac1e9671995"
  },
  "id": "MBI3jePIebH3NPfm",
  "tags": []
}